
            <!-- Produktkort med utr칛kning f칬r att s칛tta nyhet badge baserat p친 dagar man ger i argument. r칛knar om till JS tid baserat p친 Millisekunder
                 1000 millisekunder/sek, 60 sek/min, 60 min/timme, 24h/dag. sen det p친 antal dagar. samt en randomiser f칬r att visa olika produktkort vid omladdningar. -->
<script>
    // Spara scroll position innan form submit.
    document.querySelectorAll("form").forEach(form => {
        form.addEventListener("submit", () => {
        localStorage.setItem("scrollY", window.scrollY);
        });
    });

    // 친terg친 till samma position efter att sidan har laddats.
    window.addEventListener("load", () => {
        const scrollY = localStorage.getItem("scrollY");
        if (scrollY) {
        window.scrollTo(0, parseInt(scrollY));
        localStorage.removeItem("scrollY");
        }
    });

</script>            
<a href="products/<%= product.id %>/<%= slugify(product.name, { lower: true }) %>" class="product-card">
    <div class="product-image-container"> 
        <% 
        const isWithinDays = (date, days) => new Date() - new Date(date) <= days * 24 * 60 * 60 * 1000; 
        if (isWithinDays(product.publication_date, 7)) { 
        %>
            <span class="badge">Nyhet</span>
        <% } %>
        <img src="images/<%= product.picture %>" alt="Svart T-Shirt">
        <span class="wishlist"><i class="fa-solid fa-heart"></i></span>
    </div>
    <div class="product-card-info">
        <h3 class="no-decoration column"><%= product.name %></h3>
        <p class="no-decoration column"><%= product.price %> SEK</p>
    </div>
    <p class="no-decoration"><%= product.brand %></p>
    <form method="POST" action="/add-to-cart">
            <input type="hidden" name="id" value="<%= product.id %>">
            <input type="hidden" name="name" value="<%= product.name %>">
            <input type="hidden" name="price" value="<%= product.price %>">
            <button type="submit" class="buy-button">游 L칛gg i varukorg</button>
    </form>
</a>
