
            <!-- Produktkort med uträkning för att sätta nyhet badge baserat på dagar man ger i argument. räknar om till JS tid baserat på Millisekunder
                 1000 millisekunder/sek, 60 sek/min, 60 min/timme, 24h/dag. sen det på antal dagar. samt en randomiser för att visa olika produktkort vid omladdningar. -->
                
<a href="products/<%= product.id %>" class="product-card">
  <div class="product-image-container"> 
      <% 
      const isWithinDays = (date, days) => new Date() - new Date(date) <= days * 24 * 60 * 60 * 1000; 
      if (isWithinDays(product.publication_date, 7)) { 
      %>
          <span class="badge">Nyhet</span>
      <% } %>
      <img src="images/<%= product.picture %>" alt="Svart T-Shirt">
      <span class="wishlist"><i class="fa-solid fa-heart"></i></span>
  </div>
  <div class="product-card-info">
      <h3 class="no-decoration column"><%= product.name %></h3>
      <p class="no-decoration column"><%= product.price %></p>
  </div>
  <p class="no-decoration"><%= product.brand %></p>
  <span class="details">Se mer</span>
</a>
