<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freaky Fashion</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="stylesheets\style.css">
    <title><%= title %></title>
</head>

  <body>
  <main>
      <!-- HEADER -->
      <%- include('partials/header') %>

    <h1 class="center">Tack för din beställning!</h1>
    <h2>Produkter:</h2>
    <p>Du har beställt följande produkter:</p>
    <section class="cart-summary">
      <div class="cart-summary-row">
        <% JSON.parse(order.cart).forEach(item => { %>
            <div class="cart-summary-item">
                <p class="bold"><%= item.name %> </p>
                <p>Antal: <%= item.quantity %></p>
                <p>Pris: <%= item.price.toFixed(2) %> SEK</p>
                <p> Totalt för rad: <%= (item.price * item.quantity).toFixed(2) %></p>
            </div>
            <h3>Total: <%= order.total.toFixed(2) %> SEK</h3>
        <% }) %>  
      </div>
    </section>

    <section class="cart-summary-tab">
      <table>
          <thead>
              <tr>
                  <th>Produkt</th>
                  <th>Antal</th>
                  <th>Totalt</th>
                  <th>Pris</th>
              </tr>
          </thead>
          <tbody>
            <% JSON.parse(order.cart).forEach(item => { %>
                  <tr>
                      <td class="bold"><%= item.name %> </td>
                      <td><%= item.quantity %></td>
                      <td><%= item.price.toFixed(2) %> SEK</td>
                      <td><%= (item.price * item.quantity).toFixed(2) %> SEK</td>
                  </tr>
              <% }) %>
          </tbody>
      </table>
      <h3>Total: <%= order.total.toFixed(2) %></h3>
  </section>
    </main>
  <%- include('partials/footer') %>

  </body>
</html>