<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freaky Fashion</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="stylesheets\style.css">
    <script>
    </script>
    
</head>
<body>
    <%- include('partials/header') %>
    
    <main>
        <%- include('partials/hero', { hero }) %>
        <section class="spots">
            <% spots.forEach(spot => { %>
                <%- include('partials/spots', { spot }) %>
            <% }); %>
        </section>
        <section class="products">
            <h2>Populära Produkter</h2>
            <div class="product-grid">  
                <% 
                  const now = new Date();
                  const visibleProducts = products
                    .filter(product => new Date(product.publication_date) <= now)
                    .sort(() => 0.5 - Math.random())
                    .slice(0, 8);
              
                  visibleProducts.forEach(product => { 
                %>
                  <%- include('partials/product-card', { product }) %>
                <% }) %>
              </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>