<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="..\stylesheets\product-details.css">
    <script>
        // Accordion f칬r footer k칛nner av n칛r man klickar p친 rubrikerna och 칛ndrar d친 CSS till att visa eller d칬lja inneh친llet
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".footer-section h3").forEach(header => {
                header.addEventListener("click", function () {
                    this.parentElement.classList.toggle("active");
                });
            });
        });
        
        // f칬r carousel h칛mtar in div med produkter i och scrollar 3 produkter 친t g친ngen n칛r man trycker p친 fram eller tillbaka knapp
        document.addEventListener("DOMContentLoaded", function () {
            const track = document.querySelector(".carousel-track");
            const prevButton = document.querySelector(".prev");
            const nextButton = document.querySelector(".next");

            const itemWidth = document.querySelector(".carousel-item").offsetWidth;
            const scrollAmount = itemWidth * 1; 

            nextButton.addEventListener("click", () => {
                track.scrollBy({ left: scrollAmount, behavior: "smooth" });
            });

            prevButton.addEventListener("click", () => {
                track.scrollBy({ left: -scrollAmount, behavior: "smooth" });
            });
        });
    </script>
</head>
<body>

    <!-- HEADER -->
    <header class="header-main">
        <div class="header-logo-search">
            <img src="https://placehold.co/400x200.png" alt="logo" class="logo">
            <div class="search-bar">
                <input type="text" id="search" placeholder="S칬k produkt">
                <div class="header-buttons">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <i class="fa-solid fa-heart"></i>
                </div>
            </div>
        </div>
        <nav>
            <ul class = "nav-links">
                <li><a href="#">Nyheter</a></li>
                <li><a href="#">B칛sts칛ljare</a></li>
                <li><a href="#">Kvinnor</a></li>
                <li><a href="#">M칛n</a></li>
            </ul>
        </nav>
    </header>

    <!-- PRODUKTSEKTION -->
    <main class="container">
        <div class="product-card">
            <div class="product-image">
                <% 
                const isWithinDays = (date, days) => new Date() - new Date(date) <= days * 24 * 60 * 60 * 1000; 
                if (isWithinDays(product.publication_date, 7)) { 
                %>
                    <span class="badge">Nyhet</span>
                <% } %>
                <img src="../images/<%= product.picture %>" alt="Svart T-Shirt">
            </div>
            <div class="product-info">
                <h2><%= product.name %></h2>
                <p><%= product.description %></p>
                <p class="brand"><%= product.brand %></p>
                <p class="price"><%= product.price %></p>
                <button class="buy-button">游 L칛gg i varukorg</button>
            </div>
        </div>

        <!-- Liknande produkter -->

        <section class="carousel">
            <div class="carousel-container">
                <button class="carousel-button prev">&lt;</button>
                <div class="carousel-track">
                    <a href="product-details.html" class="carousel-item product-card-carousel">
                        <div class="product-image-container">
                            <img src="../images/tshirt.jpg" alt="Svart T-Shirt">
                        </div>
                        <div class="product-card-info">
                            <h3 class="no-decoration">Svart T-Shirt</h3>
                            <p class="no-decoration">199 SEK</p>
                        </div>
                    </a>
                    <a href="product-details.html" class="carousel-item product-card-carousel">
                        <div class="product-image-container">
                            <img src="../images/tshirt.jpg" alt="Orange T-Shirt">
                        </div>
                        <div class="product-card-info">
                            <h3 class="no-decoration">Orange T-Shirt</h3>
                            <p class="no-decoration">199 SEK</p>
                        </div>
                    </a>
                    <a href="product-details.html" class="carousel-item product-card-carousel">
                        <div class="product-image-container">
                            <img src="../images/tshirt.jpg" alt="Gr칬n T-Shirt">
                        </div>
                        <div class="product-card-info">
                            <h3 class="no-decoration">Gr칬n T-Shirt</h3>
                            <p class="no-decoration">199 SEK</p>
                        </div>
                    </a>
                    <a href="product-details.html" class="carousel-item product-card-carousel">
                        <div class="product-image-container">
                            <img src="../images/tshirt.jpg" alt="Vit T-Shirt">
                        </div>
                        <div class="product-card-info">
                            <h3 class="no-decoration">Vit T-Shirt</h3>
                            <p class="no-decoration">199 SEK</p>
                        </div>
                    </a>
                    <a href="product-details.html" class="carousel-item product-card-carousel">
                        <div class="product-image-container">
                            <img src="../images/tshirt.jpg" alt="Bl친 T-Shirt">
                        </div>
                        <div class="product-card-info">
                            <h3 class="no-decoration">Bl친 T-Shirt</h3>
                            <p class="no-decoration">199 SEK</p>
                        </div>
                    </a>
                    <a href="product-details.html" class="carousel-item product-card-carousel">
                        <div class="product-image-container">
                            <img src="../images/tshirt.jpg" alt="Gul T-Shirt">
                        </div>
                        <div class="product-card-info">
                            <h3 class="no-decoration">Gul T-Shirt</h3>
                            <p class="no-decoration">199 SEK</p>
                        </div>
                    </a>
                </div>
                <button class="carousel-button next">&gt;</button>
            </div>
        </section>
        <section class="center">
            <div class="pointers-grid">
                <span><i class="fa-solid fa-box"></i> Gratis frakt och returer</span>
                <span><i class="fa-solid fa-truck-fast"></i> Expressfrakt</span>
                <span><i class="fa-solid fa-credit-card"></i> S칛kra betalningar</span>
                <span><i class="fa-solid fa-shirt"></i> Nyheter varje dag</span>
            </div>
        </section>
    </main>
        <!-- FOOTER -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-section">
                <h3>Shopping</h3>
                <ul>
                    <li>Vinterjackor</li>
                    <li>Pufferjackor</li>
                    <li>Kappa</li>
                    <li>Trenchcoats</li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Mina Sidor</h3>
                <ul>
                    <li>Mina Ordrar</li>
                    <li>Mitt Konto</li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Kundtj칛nst</h3>
                <ul>
                    <li>Returnpolicy</li>
                    <li>Integritetspolicy</li>
                </ul>
            </div>
        </div>
        <small class="center">&copy; Freaky Fashion</small>
    </footer>

</body>
</html>